<!DOCTYPE html>
<html>
<head>
<title>Virginia ABC {{ if .SaleOnly }}Sale {{ end }} Prices</title>
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css" />
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>
<style type="text/css">
li p b { display:inline-block; text-align:right; width:4em; }
</style>
</head>
<body data-role="page">
<div data-role="header">
	<h1>ABC {{ if .SaleOnly }}Sale {{ end }} Prices</h1>
	<!-- Last Update: {{ .LastUpdate.Format "Jan 2, 2006" }} -->
	{{ if .SaleOnly }}
		<a href="/all" data-icon="plus" class="ui-btn-right">View All</a>
	{{ else }}
		<a href="/" data-icon="minus" class="ui-btn-right">View Sales</a>
	{{ end }}
</div>

<div data-role="content">
<ul data-role="listview" data-filter="true">{{ range .Products }}{{ if isNewType .Type }}<li data-role="list-divider">{{ .Type }} <span class="ui-li-count">{{ countType .Type }}</span>{{ end }}{{ if isNewName .Name }}</li><li><h2>{{ .Name }}</h2>{{ end }}<p>#{{ .Sku }} <b>{{ .Volume }}</b> {{ .FmtPrice }} {{ if .OnSale }}&nbsp; Retail: {{ .FmtRetail }}{{ end }}</p>{{ end }}</li></ul>
</div>
</body>
</html>
